<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="flex">
      <h2>Dashboard</h2>
      <div>
        <h2>Role:<%= user.role %></h2>
        <% if(user.isAdmin === true){ %>
        <a href="/products/new"><button>Add product</button></a>
        <% } %>
      </div>
    </header>
    <main>
      <% if(data.length > 0){ %> <% data.forEach(item =>{ %>
      <h2><a href="/products/<%= item._id%>"</a><%= item.name %></h2>
      <%}) %> <% }else{ %>
      <h2>No product</h2>
      <% } %>
    </main>
  </body>
</html>
