<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Add product</h2>
    <form method="POST" action="/products">
      <input type="text" name="name" placeholder="productName" />
      <input type="number" name="quantity" placeholder="quantity" />
      <input type="number" name="price" placeholder="price" />
      <button type="submit">Add product</button>
    </form>
  </body>
</html>
