<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="flex">
      <h2>Blog-App</h2>
      <nav>
        <ul class="flex">
          <li>
            <a href="/users/login"><button type="submit">login</button></a>
          </li>
          <li>
            <a href="/users/register"
              ><button type="submit">register</button></a
            >
          </li>
        </ul>
      </nav>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
