<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <main>
      <form action="/articles/<%= article._id%>" method="POST">
        <input
          type="text"
          placeholder="title of event"
          name="title"
          value="<%= article.title%>"
        />
        <input
          type="text"
          placeholder="title of event"
          name="title"
          value="<%= article.description%>"
        />
        <button type="submit" class="btn3">Update</button>
      </form>
    </main>
  </body>
</html>
