<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="form">
      <form action="/comments/<%= comment.id %>" method="POST">
        <textarea name="title"><%= comment.title %></textarea>
        <input
          type="text"
          placeholder="author"
          name="author"
          value="<%= comment.author %>"
        />
        <button type="submit" class="btn3">Update Comment</button>
      </form>
    </div>
  </body>
</html>